@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.title_strip{
   display: flex; 
   justify-content:center;
   align-content:center;
   flex-direction: column; 
   height: 500px;
   text-align: center;
   color: green;
}

body{
    background-color:black;
    color: lightgrey;
    font-family:'Poppins', sans-serif; 
    text-align: center;
}


article{
    text-align: justify;
    padding-left: 30%;
    padding-right: 30%;
}

a{
    text-decoration: none;
    color: lightgrey;
}

h2{
    color: gold;
}

.special{
    color: white;
}

footer{
	color: darkgrey;
}
