body{font-size: large; width: 60%; margin:auto;padding-top: 100px;}
a{text-decoration: none;}
a:link{color:blue;}
a:visited{color:blue;}
a #home_link{color: darkred;}
center{text-align: center;}
code{font-family: Courier New;}
