@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.title_strip{
   display: flex; 
   justify-content:center;
   align-content:center;
   flex-direction: column; 
   height: 500px;
   text-align: center;
   color: green;
}

body{
    background-color:black;
    color: lightgrey;
    font-family:'Poppins', sans-serif; 
    text-align: center;
    min-height: 100%;
}


article{
    text-align: justify;
    padding-left: 30%;
    padding-right: 30%;
}

a{
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-decoration-color: blue;
    color: white;
}

h2{
    color: gold;
}

h3{
    color: salmon;
}

small{
    font-size: x-small;
}

footer{
text-align:left;
}

.special{
    color: white;
}

/* navigation on home page */
.crumbs{
}


.crumb{
    list-style:none;
}

.link_section{
    padding-bottom: 100px;
}

/* icons in content pages */
.blog_foot_menu{
    font-size: 200%;
}

code{
    font-size: 110%;
    color: #8cff0a;
}

